@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .sidebar{
        @apply fixed bottom-0 md:top-0 left-0 w-screen md:h-screen h-16 md:w-16 m-0 flex flex-row md:flex-col bg-slate-900 text-white shadow;
    }

    .sidebar-icon{
        @apply relative flex items-center justify-center h-12 w-12 mt-2 last:mt-auto mb-2 mx-auto shadow-lg bg-gray-800 text-purple-500
        hover:bg-purple-600 hover:text-white rounded-lg transition-all;
    }

    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max bottom-14 md:bottom-0 md:left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold
        transition-all duration-100 scale-0 origin-left;
    }

    .section{
        @apply flex flex-col pb-16 md:pb-0 md:ml-16 items-stretch h-screen w-screen bg-gray-800 text-white;
    }

    .card{
        @apply flex flex-col bg-gray-700 h-auto w-auto md:w-full md:max-w-3xl m-4 md:mx-auto rounded-md shadow items-center p-6;
    }

    .card-section{
        @apply w-full;
    }

    .link{
        @apply hover:text-purple-600 underline;
    }

    .text-input{
        @apply text-black m-1 p-1 shadow rounded-md;
    }

    .button{
        @apply bg-purple-500 hover:bg-purple-600 text-lg p-1 rounded-md shadow transition-all px-4;
    }

    .alert-box{
        @apply border-2 border-red-500 p-2 m-1 rounded-md text-center transition-all;
    }

    .message-box{
        @apply fixed top-0 right-0 m-2 p-2 rounded-md bg-gray-700 bg-opacity-75 border-2 border-purple-500 text-white;
    }

    .tiny-btn{
        @apply text-gray-400 hover:text-white;
    }

    html{
        @apply bg-gray-800;
    }
}

html{
    font-family: 'Open Sans', sans-serif;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.mzauto{
    margin: 0 auto;
}

.mautoz{
    margin: 0 auto;
}